<div>

    <h3>Books</h3>

    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Books</li>
    </ol>


    <br/>
    <button ng-click="bookCtrl.addNew()" type="button" class="btn btn-default btn-sm">
        Add Book
    </button>

    <br/>
    <br/>

    <div >
        <div class="text-right">
            <uib-pagination ng-model="bookCtrl.pagination.currentPage"
                        total-items="bookCtrl.pagination.totalItems"
                        ng-change="bookCtrl.pageChanged()"
                        max-size="bookCtrl.pageCfg.maxSize"
                        rotate="bookCtrl.pageCfg.rotate"
                        boundary-links="bookCtrl.pageCfg.boundaryLinks">
            </uib-pagination>
        </div>

        <div class="my-responsive-table-wrapper" >
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-md-4">Title</th>
                    <th class="text-center hidden-xs col-md-1 col-xs-7">Year</th>
                    <th class="text-center hidden-xs col-md-4" >Authors</th>
                    <th class="text-center col-md-1 col-xs-3" >Price</th>
                    <th class="text-center col-md-2 col-xs-2" ></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in bookCtrl.books">
                    <td click-link="/books/{{book.id}}" class="col-md-4 col-xs-7"><strong class="text-info">{{book.title}}</strong></td>
                    <td class="col-md-1 hidden-xs">{{book.year}}</td>
                    <td class="col-md-4 hidden-xs">{{book.authors | authors}}</td>
                    <td class="col-md-1 col-xs-3">{{book.price | isoCurrency: book.currency}}</td>
                    <td class="col-md-2 col-xs-2"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right">
            <uib-pagination ng-model="bookCtrl.pagination.currentPage"
                        total-items="bookCtrl.pagination.totalItems"
                        ng-change="bookCtrl.pageChanged()"
                        max-size="bookCtrl.pageCfg.maxSize"
                        rotate="bookCtrl.pageCfg.rotate"
                        boundary-links="bookCtrl.pageCfg.boundaryLinks">
            </uib-pagination>
        </div>
    </div>

    <br/>
    <br/>
    <br/>

</div>